In [8]:
import pandas as pd

# Read the data
df = pd.read_csv('housing.csv')

# Describe the data
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [10]:
# Get data types
df.dtypes

# Get shape of the data
df.shape

(20640, 10)

In [13]:
# Find null values
null_values = df.isnull().sum()

# Fill null values with 0
df.fillna(0, inplace=True)

In [22]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

data = pd.read_csv('housing.csv')

print(data.head())

features = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
            'total_bedrooms', 'population', 'households', 'median_income']
target = 'median_house_value'

scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data[features])
data_normalized = pd.DataFrame(data_scaled, columns=features)

data_normalized = pd.concat([data_normalized, data[target]], axis=1)

print(data_normalized.head())

X_train, X_test, y_train, y_test = train_test_split(
    data_normalized[features],  
    data_normalized[target], 
    test_size=0.25,  
    random_state=42  
)

model = LinearRegression()

model.fit(X_train, y_train)

print("Model coefficients:", model.coef_)

predictions = model.predict(X_train)

print("Mean squared error:", ((y_train - predictions)**2).mean())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  median_house_value
0    0.008941    0.020556       0.539668            452600.0
1    0.067210    0.186976       0.538027            358500.0
2    0.013818    0.028943       0.466028            352100.0
3    0.015555    0.035849       0.354699            341300.0
4    0.015752    0.042427       0.230776            342200.0
Model coefficients: [ -429370.97481566  -399919.0310314     59791.74266074  -320592.29154044
   773448.14254833 -1364239.82104097   252301.09024554   585367.33104932]
Mean squared error: 4837165112.001602